footer {
  background-image: url(../images/footerbase.png);
}
.footmenu {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}
#footlogo {
  width: 15%;
  height: 15%;
}
.footmenu a { 
  font-size: 16px;
}
.contact {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  text-decoration-line: underline;
}
.bottonline {
  border: #ffffff 1px solid;
  margin-top: 10vh;
}

#social {
  font-size: 12px;
  color: #ffffff;
}
#copyright {
  font-size: 12px;
  color: #ffffff;
}
#terms {
  font-size: 12px;
  color: #ffffff;
}
#terms a {
  font-size: 12px;
  color: #ffffff;
}
@media screen and (max-width: 1024px) {
  .footmenu a {
    font-size: 14px;
  }
  .contact p {
    font-size: 14px;
  }
  #footlogo {
    width: 30%;
    height: 30%;
  }
}
@media screen and (max-width: 767px) {
  #lasttext {
    width: 100% !important;
  }

}
