
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
  margin: 0px;
}
#logo {
  display: flex;
  width: 180px;
  height: 40px;
  align-items: center;
  color: #f17228;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
}
/* #name {
  color: #f17228;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
} */
header {
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(241, 114, 40, 0.05);
}
header div {
  display: flex;
  justify-content: space-around;
  margin-top: 4px;
  
}
.lobu {
  align-items: center;
  width: 57px;
  justify-content: space-around;
}
.bulo {
  align-items: center;
  width: 84px;
  justify-content: space-around;
}
#searchbox {
  background-image: url(../images/.png);
  background-repeat: no-repeat;
  background-position: 3% 50%;
  margin-top: 12px;
  border-radius: 10px;
  border: #fbc5a6 1px solid;
  width: 235px;
  height: 32px;
}
input::placeholder {
  padding-left: 20px;
}
.menu {
  display: flex;
  padding: 8px 4px;
  width: 384px;
  height: 40px;
  margin-top: 8px;
  justify-content: space-around;
}
a {
  text-decoration: none;
  color: black;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 24px;
}
.menu a:hover {
  color: #f17228;
}
#nuur a {
  font-weight: 700;
  color: #f17228;
}
#busketlogin {
  display: flex;
  width: 180px;
  height: 32px;
  margin-top: 12px;
  align-items: center;
  justify-content: space-around;
}
.loginbusket {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  color: #f17228;
}
.search {
  margin: 0px;
}