.box {
  border: 1px solid #fbc5a6;
  border-radius: 20px;
  font-size: 16px;
  transition: 0.3s;
  width: 100%;
}
.box:hover {
  background-color: #f17228;
  color: #ffffff !important;
}
#third {
  background-color: #f17228;
  color: #ffffff;
}
body {
  animation: fadeInAnimation ease 1s;
  /* animation-iteration-count: 1; */
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 1024px) {
  .box {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .box {
    font-size: 12px;
  }
}
