* {
  box-sizing: border-box;
}
.contents {
  max-width: 1420px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}
@media screen and (min-width:768px) and (max-width: 1024px) {
  .contents {
    max-width: 1024px;
    padding-left: 10px;
    padding-right: 10px;
  }
}