/* #menu { */
/* display: flex; */
/* } */
header {
  height: 56px;
  width: 1440px;
  top: -0.4px;
  left: 1px;
  gap: 47px;
  background-color: FFFFFF;
  box-shadow: 0px 2px 4px 0px #f172280d;
}
.homeicon {
  position: absolute;
  left: 120px;
  top: 8px;
  bottom: 14.29%;
  width: 40px;
  height: 40px;
}
html {
  max-width: 1440px;
  width: 1440px;
  background-color: #fdfdfd;
}
p {
  width: 126px;
  height: 30px;
  top: 5px;
  left: 200lspx;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #f17228;
  position: absolute;
}
